{% extends 'base.html' %}
{% block content %}

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-1">  
                  <div class="col-md-10 mx-auto col-lg-5">
                      <div class="card" style="width: 30rem;">
                          <img class="card-img-top" src="./static/without_box.png" alt="Card image cap">
                          <div class="card-body">
                          <p class="card-text">Я люблю тебя такую, какая ты есть - самая прекрасная!</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-10 mx-auto col-lg-5">
                    <div class="card" style="width: 30rem;">
                        <img class="card-img-top" src="./static/without_box.png" alt="Card image cap">
                        <div class="card-body">
                        <p class="card-text">Во весь рост! От пяток до макушки! С днём рождения!</p>
                        </div>
                    </div>
                </div>
        <div class="row align-items-center g-lg py-6">  
                  <div class="col text-center text-lg-start py-6">
                      <h1 class="display-4 fw-bold lh-1 m-5 py-6">Настенька!</h1>
                      <p class="col fs-5 py-6"> 
                         Я надеюсь, настроение твоё чуть-чуть поднялось, и сегодня станет веселее! Я тебя обожаю, моя Настёна. Ты моя драгоценность, наука, которую я постигаю и люблю. Твой Рубаник!</p>
                  </div>

         </div>
        </div>
      </div>
    </div>


{% endblock %} 